@media screen and (min-width: 900px) and (max-width: 9000px) {
  .slidecontainer {
    display: none !important; 
  }
}
@media screen and (min-width: 980px) and (max-width: 9000px) {
  #phonetour{
    display: none;
  }
}
@media screen and (max-width: 899px) {
  .dekstoppictures {
    display: none !important; 
  }
  .slidecontainer{
    margin: 0 auto;
    margin-top: 50px;
  }
.sliderimg{
  max-width: 560px;
  top: -90px !important;
  border-radius: 0 0 44px 44px;
}
.rating{
  top: -580px;
 
}
.slidecontainer{
  padding-left: 20px;
}
.header-top h1{
  font-weight: 700;
  font-family: "NEXT ART", sans-serif;
  margin-top: 400px;
  font-size: 8vw;
  width: 100%;
}
}
@media  screen and (max-width: 1218px) {
  .dekstoppictures{
   margin-left: 100px;
  }
  .programms{
    width: 40%;
    margin-right: 20px;
  }
  .pictures img{
    margin-left: -10px !important;
  }
  .container1{
    justify-content: space-between;
    margin: 0 auto;
  }
}
/*@media screen and (max-width:1200px) {
  .programms{
    width: 100%;
  }
  .pictures{
    display: none;
  }
}*/
@media screen and (max-width: 500px) {
  .sliderimg{
    max-width: 560px;
    top: -65px !important;
    border-radius: 0 0 25px 25px;
  }
  .sliderimg-text h4{
    font-size: 20px;
    margin-left: 0px;
  }
  .rating{
    top: -400px;
   
  }
  .sliderimg-text span{
display: none;
  }
  .slider-price{
    margin-top: 10px;
  }
  
}
@media screen and (max-width: 360px) {
  .sliderimg-text{
    margin: 10px;
  }  
  .sliderimg-text h4, span{
    font-size: 16px;
  }
  .sliderimg{
    top:-60px !important;
  }
  .slider-price{
    margin:10px;
  }
 
  
}
  @media screen and (max-width: 1084px) {
    .header-top button{
      margin-left: 0px;
    }
  }
  @media screen and (max-width: 1184px) {
    #forphone {
      margin-right: -30px;
    }
    
  }
  @media screen and (max-width: 1129px) {
  .selector{
    display: none;
  }  
  .select{
    border-radius: 10px;
  background: transparent !important;
  backdrop-filter: none;
  width: fit-content;
  height: fit-content;
  padding: 0px;
  display: flex;
  white-space: nowrap;
  margin-top: 32px;
  margin-bottom: 50px;
  }
  .pictures{
    display: none;
  }
  .programms{
    width: 100%;
    padding-left: 10px;
  align-items: center;
  justify-content: center;
  }
  .programms button{
    margin-left: 40px;
  }
  }
  @media screen and (max-width: 991px) {
   .nav-menu ul{
    flex-direction: column;
    margin-left: -30px;
   }
   .nav-menu li{
    margin-bottom: 20px ;
   }
   .nav-menu button {
    margin-top: 50px ;
   }
  }
  @media screen and (max-width: 980px) {
    #dekstoptour{
     display: none;
    }
    .mount{
      display: none;
       }
      }
     @media  screen and (max-width: 1228px) {
    .search{
      margin-right:0px ;
    }
    .select{
      padding-right: 0px;
    }
     }
     @media screen and (min-width: 615px) and (max-width: 9999px) {
    .travel-blog-phone{
      display: none;

    }
     }
     @media screen and (max-width: 614px) {
     .travel-blog{
      display: none;
     }
     .travel-blog-phone{
       padding: 50px 0px;
       background: #F3F5F4;
       background-color: #F3F5F4;
       height: fit-content;
       width: 100%;
       align-items: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
     }
     .travel-blog-card-phone{
      background: #FDFDFD;
      border-radius: 10px;
      align-items: flex-start;
      align-self: stretch;
      width: fit-content;
      height: fit-content;
      width: 100%;
      text-align: left;
     }
     
     .travel-blog-card-phone img{
      width: 100%;
     }
     .travel-blog-text-phone{
      width: 100%;
      padding: 16px;
     }
     #travelandtour3{
      align-self: center !important;
      margin-left: auto !important;
     }
     .travel-blog-text-phone h1{
       height: 100px !important;
     }
     .footer .container{
       text-align: center;
       flex-direction: column; 
     }
     }
     @media screen and (min-width: 842px)  and (max-width: 1216px) {
      .travel-blog .container2{
        flex-direction: column;
      }
     }
     @media screen and (min-width: 887px) and (max-width: 1250px) {
        .imge1 {
          width: 50%;
        }
        .imge2{
          width: 24%;
        }
        .imge3 {
          width: 37%;
        }
        .imge4{
          width: 37%;
        }
        .imge5 {
          width: 50%;
        }
        .imge6{
          width: 24%;
        }
       
     }
      @media screen and (min-width:888px) and (max-width:9999px) {
        .ower-photo-phone{
          display: none;
        }
      }
      @media screen and (min-width:0px) and (max-width:887px) {
        .ower-photo .container{
          display: none;
        }
      }
    @media screen and  (max-width: 1220px) {
     .new-left{
       margin-right: 0px;
     }
     .news{
      padding-left: 20px;
      padding-right: 20px;
     }
    }
      
    @media screen and  (max-width: 1012px) {
      .news{
        flex-direction: column;
        
      }
      
    }
    @media screen and (min-width:576px) and (max-width: 9999px) {
      .visible_phone{
        display: none;
      }
    }
    @media screen and  (max-width: 576px) {
   .dissaper{
     display: none;
   }
   .news form{
    flex-direction: column;
   }
   .news button{
    margin-top: 20px;
    width: 70%;
   }
   .news p {
    width: 80%;
    margin-top: 40px;
   }
   .news{
    padding-right:0px;
   
   }
   .news h1{
    margin-right: 20px;
    white-space: wrap;
   }
   .ower-photo-phone{
   margin: 0 auto;

   margin-right: 20px !important;
   margin-left: 10px !important;
   }
   .house2{
     max-width: 300px;
   }
 

    }
    @media screen and (min-width: 576px) and (max-width: 1020px) {
     footer{
      margin-top: 200px ;
     }
    }
    @media screen and (min-width: 0px) and (max-width: 575px) {
      footer{
       margin-top: 450px ;
      }
      .news{
        width: 95%;
        box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.39);

      }
     }