
.header-top{
	background-image: url(../img/Rectangle\ 1.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width:100% ;
	height: fit-content;
	display: flex;
	align-items: center;
  justify-content: space-between;
  animation: pulse 3s ease-in-out;
}
.container{
	max-width: 1200px !important;
}
.header-top ul{
	display: flex;
	list-style: none;
	margin-top: 30px;
}
.header-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 26px;
}
.header-top button{
border-radius: 4px;
background: #1A3E3E;
color: #FDFDFD;
font-family: "Nunito Sans",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: 0.192px;
padding: 12px 24px;
border: none;
margin-top: -15px;
margin-left: 50px;
transition: all 0.3s ease;
cursor: pointer;
}
.header-top button:hover{
	background: #fdfdfd42;
}
.header-top button:active{
	transform: scale(0.8);
}
.header-top li{
	color: #FDFDFD;
font-family: "Nunito Sans",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 24px;
align-items: center;
white-space: nowrap !important;
transition: all 0.3s ease;
cursor: pointer;
}
.header-top li:hover{
	transform: translateY(-10px);
}
.logo{
	transition: all 0.3s ease;
}
.logo:hover{
transform: translateX(20px);
filter: drop-shadow(-50px 0px 0px rgba(0, 0, 0, 1));
}
.header-top h1{
	color: #FDFDFD;
font-family: "NEXT ART",sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 75px */
letter-spacing: 1px;
margin-top: 460px;
width: 70%;
}
.select{
	border-radius: 10px;
background: rgba(255, 255, 255, 0.20);
backdrop-filter: blur(3px);
width: fit-content;
height: fit-content;
padding: 40px;
display: flex;
white-space: nowrap;
margin-top: 82px;
margin-bottom: 40px;
}

.search{
	color: #1A3E3E !important;
	background: #FDFDFD !important;
	max-height: 52px;
	margin-top: 0px !important;
}
.selection, #date-input{
background-color: transparent;
height: 52px;
width: 270px;
border-radius: 8px;
border: 1px solid var(--wl-primary-primary-300, #E1E3E4);
padding: 8px 16px;
color: #FDFDFD;
font-family: "Nunito Sans",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
#date-input::-webkit-calendar-picker-indicator {
  background-image: url('../img/calendar.svg');
}
.selector{
	margin-right:24px ;
}
.select p {
	color: #FDFDFD;
font-family: "Nunito Sans",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin: 8px; /* 21px */
}
.selection:focus{
	color:#1A3E3E;
}
.about-us{
 background: #FFF;
width: 100%;
padding-top: 74px;
padding-bottom: 100px;
display:flex;
justify-content: space-between;
align-items: flex-start;
}
.right{
	flex-direction: column;
	align-items: flex-end;
	width: 50%;
	margin-top: 64px;
}
.left{
	width: 50%;
	margin-top: 0px;
}
.about-us button{
	border-radius: 4px;
	background: #1A3E3E;
	color: #FDFDFD;
	font-family: "Nunito Sans",sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	letter-spacing: 0.192px;
	padding: 12px 24px;
	border: none;
	margin-top: -15px;
	margin-left: 50px;
	transition: all 0.3s ease;
	cursor: pointer;
	}
	.about-us button:hover{
		background: #2e1e1e81;
	}
	.about-us button:active{
		transform: scale(0.8);
	}
	.picture-btn{
border-radius: 100px;
background: rgba(253, 253, 253, 0.33);
width: 50px;
height: 50px;
flex-shrink: 0;
position: relative;
z-index: 3;
top:-500px ;
left: 280px;
transition: all 0.2s ease;
cursor: pointer;
	}
	.picture-btn:hover{
transform: scale(1.1);
	}
	.picture-btn:active{
		transform: scale(0.7);
			}
	.mount{
		position: relative;
		z-index: 1;
	}
	.house{
		position: relative;
		z-index: 2;
		left: 130px;
		top: -276px;
	}

	.hh1{
color: #18121E;
font-family: "Nunito Sans",sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 38.4px */
	}
.hh2{
color: #F2BE22;
font-family: "Nunito Sans",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 83.333% */
}
.pp{
color: #18121E;
font-family: "Nunito Sans",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
 /* 27px */
}
.container1{
	display: flex;
	max-width: 1180px;
	margin: 0 auto;
	justify-content: space-between;
	padding-top: 74px;
}
.right button{
	margin-left: 0px;
}
.right p{
	margin:40px 0px 40px 0px ;
}
.tours{
	background: #F3F5F4;
	width: 100%;
	height: fit-content;
	padding-bottom: 50px;
}
.spann{
	color: #000;
	font-family: "Nunito Sans",sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	 /* 142.857% */
}
.programms{
	flex-direction: column;
	width: 50%;
	margin-right: 90px;
	margin-bottom: 100px;
}
.programms p{
	margin: 40px 0px 40px 0px ;
}
.hh3{
	color: #18121E;
font-family: "Nunito Sans",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 111.111% */
letter-spacing: 0.216px;
}
.puncts{
	display: flex;
	margin: 40px 0px 40px 0px ;
}
.puncts-img{
	width: 50px;
	height: 50px;
	margin-right: 16px !important;
	margin: auto;
}
.price{
	padding: 16px 32px;
	color: #FDFDFD;
font-family: "Nunito Sans",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */
letter-spacing: 0.192px;
border-radius: 4px;
background: #1A3E3E;
align-items: center;
justify-content: center;
border: none;
transition: all 0.2s ease-out ;
}
.price:hover{
transform: scale(1.1);
}
.pictures img{
	margin: 10px;
	position: relative;
	transition: all ease 0.3s;
}
.img2:hover{
	transform: scale(1.03) translate(15px,-15px);
}
.img1:hover{
	transform: scale(1.03) translate(-15px,-15px);
}
.img3:hover{
	transform: scale(1.03) translate(-15px,15px);
}
.img4:hover{
	transform: scale(1.03) translate(15px,15px);
}
.pictures{
	width: 50%;
  margin-top:50px;
}
.slidecontainer{
	max-width: 580px;
}
.slider{
	width: 100%;
	height: fit-content;
	align-items: center ;
}
.left{
	padding-left: 10px;
}
.dekstoppictures{
	display: flex;
	margin-top: 90px;
	flex-wrap: nowrap;
	overflow: auto;
	margin-right:0px;
}
.container2{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-top: 74px;
}
.travelcard{
margin-right: 20px !important;
}
.sliderimg{
border-radius: 0px 0px 32px 32px;
background: rgba(255, 255, 255, 0.20);
backdrop-filter: blur(3px);
max-width:380px;
max-height:90px;
position: relative;
top: -89px;
display: flex;
}
.slider-span{
color: #FDFDFD;
font-family: "Nunito Sans",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
}
.hh4{
	color: #FDFDFD;
font-family: "Nunito Sans",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%;
margin: 0; /* 28.8px */
}
.sliderimg-text{
	flex-direction: column;
	margin:20px 35px;
	white-space: nowrap;
}
.slider-price span{
	color: #FDFDFD;
	font-family: "Nunito Sans",sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 120% */
}
.slider-price{
	display: inline-flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: rgba(255, 255, 255, 0.30);
width: 86px;
height: 40px;
margin-top: 25px;
}
.rating{
top:-538px;
	position: relative;
	
	float: right;
}
.navbar.bg-body-tertiary {
  background-color: transparent !important;
}
.navbar-toggler {
  background-color: transparent !important;
  border-color: transparent !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  width: 30px !important;
  height: 30px !important;
}
#phonetour{
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
	padding-left: 16px;
	padding-right:16px ;
}
#phonetour h1 {
align-self: flex-start;
width: 95%;
}
#phonetour h2{
align-self: flex-start;
}
#phonetour p{
	margin-top: 24px;
}
#phonetour button{
	margin-top: 24px;
margin-bottom: 40px;
align-self: center;
margin-right: 0px;
margin-left: 0px;
}
.picture-btn2{
	position: relative;
top:-231px;
}
.house2{
	align-self: center;
}
.travel-blog{
	background-color: #F3F5F4;
height: fit-content;
width: 100%;
padding-bottom: 100px;
padding-top: 80px;
align-items: center;
}
.travel-blog-title{
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}
.travel-blog-text {
  display: flex;
  flex-direction: column;
  height: 100%;
	margin-left:  24px;
	overflow: hidden;
	width: 50% !important;
}

.travel-blog-text h1 {
  margin-top: 16px;
	color: #18121E;
	font-family: "Nunito Sans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px; 
}

.travel-blog-text p {
  margin:24px 0px ;
  text-overflow: ellipsis;
overflow: hidden;
color: #18121E;
font-family: "Nunito Sans" ,sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
height: 116px;/* 142.857% */
}
.travel-blog-card{
	height: fit-content;
 max-width: 580px;
	display: flex;
	background-color: #FDFDFD;
	box-shadow: #1a3e3e2a 1px 0px 3px 3px;
	border-radius: 10px;
	padding: 16px;
	margin-bottom: 24px;
	margin-right: 20px;
	width: 100%;
	max-height: 312px !important;
}
.date{
	color: #F2BE22;
font-family: "Nunito Sans",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
}
.read{
	color: #1A3E3E;
font-family: "Nunito Sans", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
}
.read:hover{
	cursor: pointer;
}
.travel-blog-text h1:hover{
	text-decoration: underline;
	cursor: pointer;
}
.travel-blog-spans{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	align-self: flex-end;
}
.travel-blog .container2{
	display: flex !important; 
	flex-wrap: wrap !important;
	max-width: 1260px !important;
}
.container2 .travel-blog-card{
	text-align: left;
}
#travel4 p{
min-height: 148px !important;
}
#travel3 p{
	max-height: 84px !important;
	}
	.travelandtourphone{
		color: #FDFDFD;
font-family: "Nunito Sans",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */
letter-spacing: 0.192px;
padding: 16px 36px;
border: none;
border-radius: 4px;
background: #1A3E3E;
margin-top: -50px;
margin-bottom: 50px;
	}
	.travelandtour{
		color: #FDFDFD;
font-family: "Nunito Sans",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */
letter-spacing: 0.192px;
padding: 16px 36px;
border: none;
border-radius: 4px;
background: #1A3E3E;
margin-top: 50px;
margin-bottom: 50px;
	}
	#travelandtour1{
		margin-top: 0px;
	}
	#travelandtour2{
		margin-bottom:0px;
		display: flex;

  box-sizing: border-box;
	

	}
	.ower-photos{
		text-align: center;
		padding-top: 80px;
		padding-bottom: 100px;
	  align-items: center;
		margin-bottom: 100px;
	}
	.ower-photo img{
margin-bottom: 20px;
margin-right: 20px;
max-width: 100%;
	}
	.ower-photo-title{
		margin-bottom: 40px;
	}
	.ower-photo .container{
		max-width: 1240px !important;
	}
	.news{
		border-radius: 6px;
background: #FDFDFD;
box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
padding: 40px 100px;
max-width: 1200px;
height: fit-content;
position: absolute;
display: flex;
justify-content: space-between;
margin-top: 80px;
left: 50%;
transform: translateX(-50%);

	}

	
	.new-left h1 {
text-align: left;
color: #18121E;
font-family: "Nunito Sans",sans-serif;
font-size: 26px !important;
font-style: normal !important;
font-weight: 800 !important;
line-height: 120% !important;
margin-right: 64px; /* 31.2px */
width: 100%;
white-space: nowrap;
	}
	.new-left h2{
		color: #F2BE22;
font-family: "Nunito Sans",sans-serif !important;
font-size: 18px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 20px !important;
text-align: left !important;
margin: 10 0; /* 111.111% */
width: 100%;
	}
.new-left{
 margin-right: 64px;
	text-align: left;
}
.new-right{

	text-align: left;
}
.new-right p{
	color: #18121E;
font-family: "Nunito Sans",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 18px;
margin-top: 10px;
}
.new-right input {
	border-radius: 4px;
background: #F3F5F4;
border: none;
color: #18121E;
font-family: "Nunito Sans", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px; 
display: flex;
width: 280px;
height: 44px;
padding: 0px 16px;
align-items: center;
margin-right: 16px ;
}
.new-right form {
	display: flex;
}
.new-right form button{
 padding: 12px 24px;
 color: #FDFDFD;
font-family: "Nunito Sans",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
letter-spacing: 0.192px;
 border: none;
 border-radius: 4px;
background: #1A3E3E;
transition: all 0.3s ease;
white-space: nowrap;
}
.new-right button:hover{
  transform: scale(1.1);
}
footer{
 background: #1A3E3E;
 height: fit-content;
 width: 100%;
 display: flex;
 padding-top: 180px;
 padding-bottom: 100px;
}
.info{
	display: flex;
	flex-wrap: wrap;
}
.about-us2 h1{
	color: #FFF;
font-family: "Nunito Sans",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
margin-bottom: 24px;
}
.about-us2 p{
	color: #FFF;
font-family: "Nunito Sans",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 100;
line-height: 20px;
max-width: 456px;
margin-right: 44px;
}
.social{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
.contacts{
	display: flex;
	margin-top: 80px;
	margin-bottom: 40px;
}
.contacts span{
	color: #FFF;
font-family: "Nunito Sans",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 128.571% */
margin-right: 24px;
}
.contacts span:hover{
	text-decoration-line: underline;
	cursor: pointer;
}
.social-icons{
	display: flex;
	margin-bottom: 40px;
}
.social-icons img{
	margin-right: 16px;
	transition: all 0.3s ease;
}
.social-icons img:hover{
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 10px #FFF);
}
.services h1{
	color: #FFF;
font-family: "Nunito Sans",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
margin-bottom: 24px;
}
.services li{
	color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 100;
line-height: 20px;
margin-bottom: 16px;
list-style: none;
margin-left: 0px;
max-width: 280px;
text-align: left;
display: flex;
align-items: center;

}
.services ul{
	margin-left: 0px;
	padding: 0px;
	margin-bottom: 50px;
}
.services li:hover{
	text-decoration-line: underline;
	cursor: pointer;
	color: #F2BE22;
}
.services li::before{
	content:url("../img/li arrow.svg");
	margin-right: 10px;
	display: inline-block;
}
#services1{
	margin-right: 100px;
}
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #18121E;
	width: 100%;
	height: fit-content;
	padding: 24px;
}
.footer .container{
	max-width: 1200px !important;
	display: flex;
	justify-content: space-between;
	color: #FFF;
	flex-wrap: wrap;
}
.footer span{
	margin-bottom:20px ;
	margin-right: 20px;
}